[submodule "p"]
	path = p
	url = git@github.com:/mrvillage/.dotfiles-personal.git
	branch = master
[submodule "pw"]
	path = pw
	url = git@github.com:/mrvillage/.dotfiles-pw.git
	branch = master
[submodule "u"]
	path = u
	url = git@github.com:/mrvillage/university.git
	branch = master
[submodule "w"]
	path = w
	url = git@github.com:/mrvillage/.dotfiles-work.git
	branch = master
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:/mrvillage/init.lua
	branch = master
[submodule "v"]
	path = v
	url = git@github.com:/mrvillage/.dotfiles-v19
	branch = master
