/.aws
/.azure
/.bash_history
/.cache
/.docker
/.local
/.npm
/.ssh
/.volta
/.wakatime
/.wakatime.bdb
/.wakatime.cfg
/nvim
/.node_repl_history
/.config/lazygit/state.yml
/.config/gatsby/config.json
/.mrvillage
/.cargo
/.rustup
/.config/composer
/.config/github-copilot
